<div style="text-align: center;">
  <h1>Dashboard</h1>
  <table border="1" class="center">
    <thead>
      <tr>
        <% if (currentUser.isAdmin) { %>
          <td>Image</td>
          <td>Drug Name</td>
          <td>Drug Class</td>
          <td>Recommended Dose</td>
          <td>Description</td>
          <td>Status</td>
          <td>Created By</td>
          <td>Edited By</td>
          <td>Reviewed By</td>
          <td>Action</td>
          <td>Delete?</td>
        <% } else if (!currentUser.isAdmin) { %>
          <td>Image</td>
          <td>Drug Name</td>
          <td>Drug Class</td>
          <td>Recommended Dose</td>
          <td>Description</td>
          <td>Status</td>
          <td>Action</td>
        <% } %>
      </tr>
    </thead>

    <% drugs.forEach((drug) => { %>
      <tr>
        <% if (currentUser.isAdmin) { %>
          <td><img src="<%= drug.imageUrl %>" alt="image"></td>
          <td><a href="/view/<%= drug._id %>"><%= drug.name %></a></td>
          <td><%= drug.drugClass %></td>
          <td><%= drug.recommendedDose %></td>
          <td><%= drug.description %></td>
          <td><%= drug.status %></td>
          <td><%= drug.createdBy.firstname %> <%= drug.createdBy.lastname %></td>
          <td>
            <% drug.editedBy.forEach((user) => { %>
              <%= user.firstname %> <%= user.lastname %>
            <% }) %>
          </td>
          <td>
            <% drug.reviewedBy.forEach((user) => { %>
              <%= user.firstname %> <%= user.lastname %>
            <% }) %> 
          </td>
          <td>
            <!-- TODO:  restrict user from reviewing their own "drug" -->
            <% if (drug.status == "info pending to be provided" || drug.status == "info pending to be amended"){ %>
              <a href="/edit/<%= drug._id %>" class="btn btn-primary">Edit</a>
            <% } else if (drug.status == "info pending to be reviewed"){ %> 
              <a href="/review/<%= drug._id %>" class="btn btn-primary">Review</a>
            <% } %>
          </td>
          <td>
            <a href="/delete/<%= drug._id %>" class="btn btn-danger">Yes</a>
          </td>
        <% } else if (!currentUser.isAdmin) { %>
          <td><img src="<%= drug.imageUrl %>" alt="image"></td>
          <td><a href="/view/<%= drug._id %>"><%= drug.name %></a></td>
          <td><%= drug.drugClass %></td>
          <td><%= drug.recommendedDose %></td>
          <td><%= drug.description %></td>
          <td><%= drug.status %></td>
          <td>
            <!-- TODO:  restrict user from reviewing their own "drug" -->
            <% if (drug.status == "info pending to be provided" || drug.status == "info pending to be amended"){ %>
              <a href="/edit/<%= drug._id %>" class="btn btn-primary">Edit</a>
            <% } else if (drug.status == "info pending to be reviewed"){ %> 
              <a href="/review/<%= drug._id %>" class="btn btn-primary">Review</a>
            <% } %>
          </td>
        <% } %>
      </tr>
    <% }) %>
  </table>
</div>