<div style="text-align: center;">
  <% if (currentUser.isAdmin) { %>
    <h1>Admin Dashboard</h1>
  <% } else if (!currentUser.isAdmin) { %>
    <h1>Dashboard</h1>
  <% } %>
  <table class="table">
    <thead class="thead-dark">
      <tr id="table-header-names">
        <% if (currentUser.isAdmin) { %>
          <th scope="col">Image</th>
          <th scope="col">Drug Name</th>
          <th scope="col">Drug Class</th>
          <th scope="col">Recommended Dose</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Created By</th>
          <th scope="col">Edited By</th>
          <th scope="col">Approved By</th>
          <th scope="col">Rejected By</th>
          <th scope="col">Action</th>
          <th scope="col">Delete?</th>
        <% } else if (!currentUser.isAdmin) { %>
          <th scope="col">Image</th>
          <th scope="col">Drug Name</th>
          <th scope="col">Drug Class</th>
          <th scope="col">Recommended Dose</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        <% } %>
      </tr>
    </thead>

    <% drugs.forEach((drug) => { %>
      <tr>
        <% if (currentUser.isAdmin) { %>
          <td><img src="<%= drug.imageUrl %>" class="thumbnail" alt="No image uploaded yet!"></td>
          <td><a href="/view/<%= drug._id %>"><%= drug.name %></a></td>
          <td><%= drug.drugClass %></td>
          <td><%= drug.recommendedDose %></td>
          <td><%= drug.description %></td>
          <td><%= drug.status %></td>
          <td><%= drug.createdBy.firstname %> <%= drug.createdBy.lastname %></td>
          <td>
            <% drug.editedBy.forEach((user) => { %>
              <%= user.firstname %> <%= user.lastname %>
            <% }) %>
          </td>
          <td>
            <% drug.approvedBy.forEach((user) => { %>
              <%= user.firstname %> <%= user.lastname %>
            <% }) %> 
          </td>
          <td>
            <% drug.rejectedBy.forEach((user) => { %>
              <%= user.firstname %> <%= user.lastname %>
            <% }) %> 
          </td>
          <td>
            <!-- TODO:  restrict user from reviewing their own "drug" -->
            <% if (drug.status == "pending information and image" || drug.status == "pending information") { %>
              <a href="/edit/<%= drug._id %>" class="btn btn-dark">Edit</a>
            <% } else if (drug.status == "pending amendment") { %>
              <a href="/amendment/<%= drug._id %>" class="btn btn-dark">Edit</a>
            <% } else if (drug.status == "pending image") { %>
              <a href="/upload-image/<%= drug._id %>" class="btn btn-dark">Upload Image</a>
            <% } else if (drug.status == "pending review") { %>
              <% drug.editedBy.forEach((editor) => { %>
                <% if (editor._id == currentUser._id) { %>
                  <% return %>
                <% } else if (editor._id != currentUser.id) { %>
                  <a href="/review/<%= drug._id %>" class="btn btn-dark">Review</a>
                <% } %>
              <%}); %>
            <% } %>
          </td>
          <td>
            <a href="/delete/<%= drug._id %>" class="btn btn-danger">Yes</a>
          </td>
        <% } else if (!currentUser.isAdmin) { %>
          <td><img src="<%= drug.imageUrl %>" class="thumbnail" alt="No image uploaded yet!"></td>
          <td><a href="/view/<%= drug._id %>"><%= drug.name %></a></td>
          <td><%= drug.drugClass %></td>
          <td><%= drug.recommendedDose %></td>
          <td><%= drug.description %></td>
          <td><%= drug.status %></td>
          <td>
            <!-- TODO:  restrict user from reviewing their own "drug" -->
            <% if (drug.status == "pending information and image" || drug.status == "pending information") { %>
              <a href="/edit/<%= drug._id %>" class="btn btn-dark">Edit</a>
            <% } else if (drug.status == "pending amendment") { %>
              <a href="/amendment/<%= drug._id %>" class="btn btn-dark">Edit</a>
            <% } else if (drug.status == "pending image") { %>
            <a href="/upload-image/<%= drug._id %>" class="btn btn-dark">Upload Image</a>
            <% } else if (drug.status == "pending review") { %>
              <% drug.editedBy.forEach((editor) => { %>
                <% if (editor._id == currentUser._id && drug.editedBy != "") { %>
                  <% return %>
                <% } else if (editor._id != currentUser.id  && drug.editedBy != "") { %>
                  <a href="/review/<%= drug._id %>" class="btn btn-dark">Review</a>
                <% } %>
              <%}); %>
            <% } %>
          </td>
        <% } %>
      </tr>
    <% }) %>
  </table>
</div>