<div style="text-align: center;">
  <% if (currentUser.isAdmin) { %>
    <h1>Admin Dashboard</h1>
  <% } else if (!currentUser.isAdmin) { %>
    <h1>Dashboard</h1>
  <% } %>
    <table border="1" class="center">
    <thead>
      <tr>
        <% if (currentUser.isAdmin) { %>
          <td>Image</td>
          <td>Drug Name</td>
          <td>Drug Class</td>
          <td>Recommended Dose</td>
          <td>Description</td>
          <td>Status</td>
          <td>Created By</td>
          <td>Edited By</td>
          <td>Approved By</td>
          <td>Rejected By</td>
          <td>Action</td>
          <td>Delete?</td>
        <% } else if (!currentUser.isAdmin) { %>
          <td>Image</td>
          <td>Drug Name</td>
          <td>Drug Class</td>
          <td>Recommended Dose</td>
          <td>Description</td>
          <td>Status</td>
          <td>Action</td>
        <% } %>
      </tr>
    </thead>

    <% drugs.forEach((drug) => { %>
      <tr>
        <% if (currentUser.isAdmin) { %>
          <td><img src="<%= drug.imageUrl %>" class="thumbnail" alt="No image uploaded yet!"></td>
          <td><a href="/view/<%= drug._id %>"><%= drug.name %></a></td>
          <td><%= drug.drugClass %></td>
          <td><%= drug.recommendedDose %></td>
          <td><%= drug.description %></td>
          <td><%= drug.status %></td>
          <td><%= drug.createdBy.firstname %> <%= drug.createdBy.lastname %></td>
          <td>
            <% drug.editedBy.forEach((user) => { %>
              <%= user.firstname %> <%= user.lastname %>
            <% }) %>
          </td>
          <td>
            <% drug.approvedBy.forEach((user) => { %>
              <%= user.firstname %> <%= user.lastname %>
            <% }) %> 
          </td>
          <td>
            <% drug.rejectedBy.forEach((user) => { %>
              <%= user.firstname %> <%= user.lastname %>
            <% }) %> 
          </td>
          <td>
            <!-- TODO:  restrict user from reviewing their own "drug" -->
            <% if (drug.status == "pending information and image" || drug.status == "pending information") { %>
              <a href="/edit/<%= drug._id %>" class="btn btn-primary">Edit</a>
            <% } else if (drug.status == "pending amendment") { %>
              <a href="/amendment/<%= drug._id %>" class="btn btn-primary">Edit</a>
            <% } else if (drug.status == "pending image") { %>
              <a href="/upload-image/<%= drug._id %>" class="btn btn-primary">Upload Image</a>
            <% } else if (drug.status == "pending review") { %>
              <% drug.editedBy.forEach((editor) => { %>
                <% if (editor._id == currentUser._id) { %>
                  <% return %>
                <% } else if (editor._id != currentUser.id) { %>
                  <a href="/review/<%= drug._id %>" class="btn btn-primary">Review</a>
                <% } %>
              <%}); %>
            <% } %>
          </td>
          <td>
            <a href="/delete/<%= drug._id %>" class="btn btn-danger">Yes</a>
          </td>
        <% } else if (!currentUser.isAdmin) { %>
          <td><img src="<%= drug.imageUrl %>" class="thumbnail" alt="No image uploaded yet!"></td>
          <td><a href="/view/<%= drug._id %>"><%= drug.name %></a></td>
          <td><%= drug.drugClass %></td>
          <td><%= drug.recommendedDose %></td>
          <td><%= drug.description %></td>
          <td><%= drug.status %></td>
          <td>
            <!-- TODO:  restrict user from reviewing their own "drug" -->
            <% if (drug.status == "pending information and image" || drug.status == "pending information") { %>
              <a href="/edit/<%= drug._id %>" class="btn btn-primary">Edit</a>
            <% } else if (drug.status == "pending amendment") { %>
              <a href="/amendment/<%= drug._id %>" class="btn btn-primary">Edit</a>
            <% } else if (drug.status == "pending image") { %>
            <a href="/upload-image/<%= drug._id %>" class="btn btn-primary">Upload Image</a>
            <% } else if (drug.status == "pending review") { %>
              <% drug.editedBy.forEach((editor) => { %>
                <% if (editor._id == currentUser._id && drug.editedBy != "") { %>
                  <% return %>
                <% } else if (editor._id != currentUser.id  && drug.editedBy != "") { %>
                  <a href="/review/<%= drug._id %>" class="btn btn-primary">Review</a>
                <% } %>
              <%}); %>
            <% } %>
          </td>
        <% } %>
      </tr>
    <% }) %>
  </table>
</div>