<div>
  <h2>Reviewing <%= drug.name %></h2>
  <img src="<%= drug.image %>" alt="image">
  <div>Drug Class: <%= drug.drugClass %></div>
  <div>Recommended Dose: <%= drug.recommendedDose %></div>
  <div>Description: <%= drug.description %></div>
  <div>Created By: <%= drug.createdBy.firstname %> <%= drug.createdBy.lastname %></div>
  <div>Edited By: 
    <% drug.editedBy.forEach((user) => { %>
      <%= user.firstname %> <%= user.lastname %>
    <% }) %> 
  </div>
  <br>
  <form action="/review/approve/<%= drug._id %>" method="POST">
    <button type="submit" class="btn btn-primary">Approve</button>
  </form>
  <form action="/review/reject/<%= drug._id %>" method="POST">
    <button type="submit" class="btn btn-danger">Reject</button>
  </form>
</div>