<div class="container mt-3">
  <h2>Upload Image for <%= drug.name %></h2>
  <label style="color: red">No image uploaded yet!</label>
  <div>Drug Class: <%= drug.drugClass %></div>
  <div>Recommended Dose: <%= drug.recommendedDose %></div>
  <div>Description: <%= drug.description %></div>
  <div>Created By: <%= drug.createdBy.firstname %> <%= drug.createdBy.lastname %></div>
  <div>Edited By: 
    <% drug.editedBy.forEach((user) => { %>
      <%= user.firstname %> <%= user.lastname %>
    <% }) %> 
  </div>
  <div>Approved By: 
    <% drug.approvedBy.forEach((user) => { %>
      <%= user.firstname %> <%= user.lastname %>
    <% }) %> 
  </div>
  <div>Rejected By: 
    <% drug.rejectedBy.forEach((user) => { %>
      <%= user.firstname %> <%= user.lastname %>
    <% }) %> 
  </div>
  <div>
    <form action="/upload-image/<%= drug._id %>" method="POST" enctype="multipart/form-data">
      <label>Upload Image: </label>
      <input name="imageUrl" type="file" value="<%= drug.imageUrl %>" />
      <br>
      <button type="submit" class="btn btn-dark">Upload Image</button>
    </form>
  </div>
  <br>
</div>