<div class="container mt-3">
  <h2>Information About <%= drug.name %></h2>
  <img src="<%= drug.imageUrl %>" alt="image">
  <div>Drug Class: <%= drug.drugClass %></div>
  <div>Recommended Dose: <%= drug.recommendedDose %></div>
  <div>Description: <%= drug.description %></div>
  <div>Created By: <%= drug.createdBy.firstname %> <%= drug.createdBy.lastname %></div>
  <div>Edited By: 
    <% drug.editedBy.forEach((user) => { %>
      <%= user.firstname %> <%= user.lastname %>
    <% }) %> 
  </div>
  <div>Approved By: 
    <% drug.approvedBy.forEach((user) => { %>
      <%= user.firstname %> <%= user.lastname %>
    <% }) %> 
  </div>
  <div>Rejected By: 
    <% drug.rejectedBy.forEach((user) => { %>
      <%= user.firstname %> <%= user.lastname %>
    <% }) %> 
  </div>
</div>